*{
    margin: 0%;
    padding: 0%;
}

body, 
html{
    height: 100px;
}

.container {
    display: flex;
    
}

header{
    display: flex;
    flex-direction: column;
}

.noticias{
    margin-left: 56px;
    margin-top: 26px;
    border-radius: 15px;
    background-color: #eff1f180;
    width: 360px;
    padding: 10px;
}

.noticias h1{
    font-size: 30px;
    margin-bottom: 40px;
    font-weight: normal;
}

.noticia h2{
    font-size: 20px;
    font-weight: normal;
}

.noticia{
    margin-bottom: 37px;
}

.link-noticia{
    text-decoration: none;
    color: inherit;
}

figure{
    display: inline-flex;
    margin-top: 20px;
}

.cabecalho{
    flex-basis: 30%;
}

.cabecalho__logo img{
    width: 38px;
    height: 38px;
    margin: 6px 0 10px 258px;

}

.cabecalho__menuLista{
    display: flex;
    flex-direction: column;
    margin-left: 260px;
    margin-top: 20px;
}

.cabecalho__logo figcaption{
    display: none;
}

.cabecalho__menuItem{
    margin-bottom: 35px;
    font-size: 23px;
}

.cabecalho__menuItem > img{
    width: 28px;
    height: 28px;
    margin-bottom: -8px;
    margin-right: 20px;
}

.cabecalho__menuItem > .foto-perfil{
    border-radius: 50%;
}

.cabecalho__menuItem > a{
    text-decoration: none;
    color: black;
}

.conteudoPrincipal{
    border: solid 1px #e7ecf0;
    width: 670px;
    margin-left: -10px;
}

.conteudoPrincipal__titulo{
    margin: 26px 0 10px 15px;
}

.conteudoPrincipal__titulo > a > img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.conteudoPrincipal__titulo > a{
    font-size: 22px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    
}

.conteudoPrincipal__formulario{
    padding: 10px 30px;
    border-top: 1px solid #e7ecf0;
    border-bottom: 10px solid #e7ecf0;
    text-align: right;
    width: 670px;
    margin-left: 10px;
}

.conteudoPrincipal__formulario textarea{
    display: block;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    height: 55px;
}

.tuitar{
    border-radius: 40px;
    width: 115px;
    height: 39px;
    margin-left: 515px;
    font-size: 17px;
    border: 0.5px solid #e7ecf0;
    background-color: rgb(47 161 242);
    color: white;
    margin-top:5px;
}

.conteudoPrincipal__listaTweets{
    display: flex;
    flex-flow: column-reverse nowrap;
    margin-left: -10px;
}

.conteudoPrincipal__tweet{
    padding: 20px 32px;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #e7ecf0;
    width: 674px;
    margin-left: 8px;
}

.conteudoPrincipal__tweet > img {
    border-radius: 50%;
    width: 60px;
    margin-left: -10px;
    margin-top: -10px;
}

.tweet__conteudo{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}

.tweet__conteudo > .span{
    margin-left: 136px;
    margin-top: -15px;
    font-size: 12px;
    color: grey;
    width: 228px;
}

.tweet__conteudo > .caixa-retuite{
    display: flex;
    text-align: center;
    border: 1px solid #e7ecf0;
    width: 540px;
    height: 102px;
    margin: 17px 0 0 -5px;
    border-radius: 15px;
}
.caixa-retuite > img {
    border-radius: 50%;
    width: 46px;
    height: 46px;
    margin: 11px 0 0 10px;
}

.caixa-retuite > h4{
    margin: 13px 0 0 10px;
}

.caixa-retuite > h4 > a{
    font-size: 20px;
    font-weight: lighter;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid transparent;

}

.caixa-retuite > .span {
    margin-left: 7px;
    font-size: 12px;
    color: grey;
    margin-top: 18px;
}


.tweet__conteudo > .texto-tuite{
    margin: -57px 0 0 63px;
    width: 453px;
}

.interacao{
    display: flex;
    margin-top: 12px;
    justify-content: space-between;
}

.interacao-rt{
    display: flex;
    margin-top: 38px;
    justify-content: space-evenly;
    margin-left: -156px;
}

.logo-int-rt, 
.logo-int{
    width: 20px;
}


.tweet__conteudo > a {
    text-decoration: none;
    color: black;
    border-bottom: solid 1px transparent;
    font-size: 20px;
    margin-top: 5px;
}

.tweet__conteudo > p{
    margin-top: 13px;
    text-decoration: none;
    font-size: 17px;
    color: black;
}

#wrap{
    margin: 14px 0 0 57px;
  }

  #nav-search input{
    width: 301px;
    height: 30px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 13px;
    padding: 6px 30px 6px 19px;
    background-color: #EFF3F4;
    border: none;
    border-radius: 200px;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 20%) inset;
  }

.contador{
    margin-left: 5px;
    margin-top: 3px;
}