* {
  margin: 0%;
  padding: 0%;
}

body,
html {
  height: 100px;
}

.container {
  display: flex;
}

header {
  display: flex;
  flex-direction: column;
}

header > .logo-twitter > img {
  width: 38px;
  height: 38px;
  margin: 16px 0 10px 258px;
}

.cabecalho-menulista {
  display: flex;
  flex-direction: column;
  margin-left: 260px;
  margin-top: 20px;
}

.cabecalho-menunav > .cabecalho-menulista > li {
  margin-bottom: 35px;
  font-size: 23px;
}

.cabecalho-menunav > .cabecalho-menulista > li > a > img {
  width: 28px;
  height: 28px;
  margin-bottom: 35px;
  margin-bottom: -8px;
  margin-right: 20px;
}

.cabecalho-menulista > li > a {
  text-decoration: none;
  color: black;
}

.cabecalho-menunav > .cabecalho-menulista > li > .foto-perfil > img {
  width: 25px;
  height: 25px;
}

.conteudo-principal {
  border: solid 1px #e7ecf0;
  margin-left: 130px;
  width: 670px;
}

.conteudo-titulo {
  margin-left: 10px;
  margin-top: 21px;
  font-size: 26px;
  margin-bottom: 21px;
}

.tuiteimagem-perfil {
  margin-left: 10px;
  width: 25px;
  height: 25px;
  margin-top: 11px;
}

#formzinho {
  width: 643px;
  height: 90px;
  margin-left: 10px;
  margin-top: 20px;
  border: none;
  outline: none;
}

#formzinho input {
  text-decoration: none;
  border: none;
}

.borda-caixatt{
    border-bottom: 1px solid #e7ecf0;
    width: 500px;
    margin-left: 140px;
}

.tuite{
    border-radius: 40px;
    width: 115px;
    height: 39px;
    margin-left: 530px;
    font-size: 17px;
    border: 0.5px solid #e7ecf0;
    background-color: rgb(47 161 242);
    color: white;
    margin-top:5px;
}

.borda-tuitar{
    border-bottom: 1px solid #e7ecf0;
    margin-top: 5px;
}

.conteudo-tuite{
    border-bottom: 1px solid #e7ecf0;
}

.img-time {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.img-time > img {
  border-radius: 50%;
  width: 60px;
  margin-top: 10px;
}

.img-time > a {
  margin-left: 10px;
  text-decoration: none;
  color: black;
  border-bottom: solid 1px transparent;
  font-size: 20px;
  margin-top: -11px;
}

.img-time > a:hover {
  border-bottom: solid 1px black;
}

.nickname,
span {
    margin-left: 7px;
    font-size: 12px;
    color: grey;
    margin-top: -11px;
}

.texto-tuite > a{
    margin-left: 81px;
    text-decoration: none;
    font-size: 18px;
    color: black;
}

#wrap {
  margin: 14px 0 0 57px;
}

#search-query {
  width: 301px;
  height: 30px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  padding: 6px 30px 6px 19px;
  background-color: #eff3f4;
  border: none;
  border-radius: 200px;
  box-shadow: 0px 1px 2px rgb(0 0 0 / 20%) inset;
}

.noticias {
  margin-left: 56px;
  margin-top: 26px;
  border-radius: 15px;
  background-color: #eff1f180;
  width: 360px;
  padding: 10px;
}

.noticias > h1 {
  font-size: 30px;
  margin-bottom: 40px;
}

.noticia > h2 {
  font-size: 20px;
}

.noticia {
  margin-bottom: 37px;
}

.link-noticia {
  text-decoration: none;
  color: inherit;
}

.interacao {
  margin-left: 79px;
  display: flex;
  margin-top: 28px;
  margin-bottom: 7px;
}

figure {
  width: 32%;
}
