* {
    margin: 0%;
    padding: 0%;
}

body,
html {
    height: 100px;
}

.container {
    display: flex;
}

header {
    display: flex;
    flex-direction: column;
}

header > .logo-twitter > img {
    width: 38px;
    height: 38px;
    margin: 16px 0 10px 258px;
}

.cabecalho-menulista {
    display: flex;
    flex-direction: column;
    margin-left: 260px;
    margin-top: 20px;
    list-style: none;
}

.cabecalho-menunav > .cabecalho-menulista > li {
    margin-bottom: 35px;
    font-size: 23px;
}

.cabecalho-menunav > .cabecalho-menulista > li > a > img {
    width: 28px;
    height: 28px;
    margin-bottom: 35px;
    margin-bottom: -8px;
    margin-right: 20px;
}

.cabecalho-menulista > li > a {
    text-decoration: none;
    color: black;
}

#formzinho{
    outline: none;
    border: none;
    margin-left: 55px;
    width: 400px;
    margin-top: 17px;
}

.retuitar{
    margin: 15px 0 0 432px;
    border-radius: 40px;
    width: 107px;
    height: 34px;
    font-size: 15px;
    border: 0.5px solid #e7ecf0;
    background-color: rgb(47 161 242);
    position: absolute;
    color: white;
    top: 26.5%;
    left: 30%;
}

.caixa-retuite{
    border: 1px solid #e7ecf0;
    margin: 90px 0 0 169px;
    width: 550px;
    height: 230px;
}

.retuite{
    border: 1px solid transparent;

}

.tuite-original{
    display: flex;
    text-align: center;
    border: 1px solid #e7ecf0;
    width: 450px;
    height: 81px;
    margin: 17px 0 0 50px;
    border-radius: 15px;

}

.tuite-original > img{
    border-radius: 50%;
    width: 56px;
    height: 58px;
    margin: 5px 0 0 10px;
}

.tuite-original > a{
    font-size: 20px;
    font-weight: lighter;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid transparent; 
    margin: 13px 0 0 10px;
}

/* .tuite-original > a:hover{
    border-bottom: solid 1px black;

} */

.tuite-original > span{
    margin-left: 7px;
    font-size: 12px;
    color: grey;
    margin-top: 18px;
}

.tuite-original > h4{
    margin: 50px 0 0 -333px;
    font-weight: lighter;
    font-size: 18px;
}

