<title>Twitter</title>
<h1>nome do usuario: {{request.user.username}}</h1>
<img src="{{ usuario_perfil.avatar.url }}" alt="Avatar" />
<h3>{{usuario_perfil.nickname}}</h3>
<p>{{usuario_perfil.bio}}</p>
<h2>Lista de Tweets</h2>
<ul>
  {%for tweet in postagens%} {%if tweet.num_type == 1 %}
  <li>{{tweet.content}}</li>
  <p>{{tweet.retweets_the.content}}</p>
  {%else%}
  <li>{{tweet.content}}</li>
  {%endif%}
  <br /><br /><br /><br /><br />
  {%endfor%}
</ul>
{%if request.user.username != usuario_perfil.user.username%}
<button>Seguir</button>
{%else%}
<a href="{% url 'edit.perfil' user.username %}">Editar Perfil</a>
{%endif%}
