{%load static%} {% load humanize %} {%load static%} {% load humanize %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{%static 'reset.css'%}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'princip.css'%}" />
    <title>Twitter</title>
  </head>
  <body>
    <div class="container">
      <!-- CABEÇALHO -->
      <header class="cabecalho">
        <figure class="cabecalho__logo">
          <img src="{%static 'bird.png'%}" alt="Logo Ken-Te-Vi" />
        </figure>

        <!-- MENU DE NAVEGAÇÃO -->
        <nav class="cabecalho__menuNavegacao">
          <!-- LISTA DE LINKS -->
          <ul class="cabecalho__menuLista">
            <li class="cabecalho__menuItem">
              <img src="{%static 'Home.png'%}" alt="Página Inicial" />
              <a href="{% url 'timeline_page' %}">Página Inicial</a>
            </li>

            <li class="cabecalho__menuItem">
              <img src="{%static 'Hashtag.png'%}" alt="Explorar" />
              <a href="">Explorar</a>
            </li>

            <li class="cabecalho__menuItem">
              <img src="{%static 'Notification.png'%}" alt="Notificações" />
              <a href="">Notificações</a>
            </li>

            <li class="cabecalho__menuItem">
              <img src="{%static 'Group.png'%}" alt="Mensagens" />
              <a href="">Mensagens</a>
            </li>

            <li class="cabecalho__menuItem">
              <img src="{%static 'saved.png'%}" alt="Itens salvos" />
              <a href="">Itens salvos</a>
            </li>

            <li class="cabecalho__menuItem">
              <img src="{%static 'listas.png'%}" alt="Listas" />
              <a href="">Listas</a>
            </li>

            <li class="cabecalho__menuItem">
              <img src="{%static 'profile.png'%}" alt="Perfil" />
              <a href="{% url 'perfil' user.username %}">Perfil</a>
            </li>

            <li class="cabecalho__menuItem">
              <img src="{%static 'more.png'%}" alt="Mais" />
              <a href="">Mais</a>
            </li>
          </ul>
        </nav>
      </header>
      <main class="conteudoPrincipal">
        <!-- TÍTULO -->
        <h3 style="font-size: 30px" class="conteudoPrincipal__titulo">
          Post do {{postagem_ref.user}}
        </h3>

        <!-- FORMULÁRIO -->
        <section class="conteudoPrincipal__feed">
          <!-- LISTA para os tweets -->
          <ul class="conteudoPrincipal__listaTweets">
            {%for reply in reply_list%}
            <!-- Tweet indivual -->
            <li class="conteudoPrincipal__tweet">
              <!-- foto perfil -->
              <img
                class="tweet__fotoPerfil"
                src="{{ reply.user.avatar.url }}"
                alt="Imagem"
                style="border-radius: 50%; width: 60px"
              />
              <!--USUÁRIO -->
              <div class="tweet__conteudo">
                <a href="{% url 'perfil' postagem_ref.user %}"
                  ><h2>{{reply.user}}</h2></a
                >
                <span>@{{reply.user.nickname}}</span>
                <span>{{reply.created_on | naturaltime}}</span>
                <p>{{reply.content}}</p>

                <figure>
                  <a href=""
                    ><img
                      style="width: 20px"
                      class="logo-int"
                      src="{%static 'heart.png'%}"
                      alt=""
                  /></a>
                </figure>
              </div>
            </li>
            {%endfor%}
            <!-- Tweet indivual -->
            <li class="conteudoPrincipal__tweet">
              <!-- foto perfil -->
              <img
                class="tweet__fotoPerfil"
                src="{{postagem_ref.user.avatar.url}}"
                alt="Imagem"
                style="border-radius: 50%; width: 100px"
              />
              <!--USUÁRIO -->
              <div class="tweet__conteudo">
                <a href="{% url 'perfil' postagem_ref.user %}"
                  ><h2>{{postagem_ref.user}}</h2></a
                >
                <span>@{{postagem_ref.user.nickname}}</span>
                <span>{{postagem_ref.created_on | naturaltime}}</span>
                <p>{{postagem_ref.content}}</p>
                {% if postagem_ref.rt %}
                <div>
                  <div style="display: flex">
                    <img
                      src="{{postagem_ref.rt.user.avatar.url}}"
                      alt="Imagem"
                      style="border-radius: 50%; width: 50px"
                    />
                    <h4>
                      <a href="{% url 'perfil' postagem_ref.rt.user %}"
                        >{{postagem_ref.rt.user}}</a
                      >
                    </h4>
                  </div>
                  <p>{{postagem_ref.rt.content}}</p>
                </div>
                {% endif %}
                <figure>
                  <a href=""
                    ><img
                      style="width: 20px"
                      class="logo-int"
                      src="{%static 'retweet.png'%}"
                      alt=""
                  /></a>
                </figure>
                <figure>
                  <a href=""
                    ><img
                      style="width: 20px"
                      class="logo-int"
                      src="{%static 'heart.png'%}"
                      alt=""
                  /></a>
                  {{likes}}
                </figure>
              </div>
            </li>
          </ul>
        </section>
        <form class="conteudoPrincipal__formulario" method="post">
          {% csrf_token %} {{ form.content }}
          <button type="submit">Tweetar</button>
        </form>
      </main>
      <section class="barra-3">
        <div id="wrap">
          <form
            id="nav-search"
            class="form-search"
            action="/search"
            role="search"
          >
            <input
              id="search-query"
              class="search-input"
              type="text"
              placeholder="Search"
            />
            <button class="icon" type="submit"></button>
          </form>
        </div>
        <section class="noticias">
          <h1>O que está acontecendo</h1>
          {%for noticia in noticias%}
          <a class="link-noticia" href="{{noticia.link}}">
            <div class="noticia">
              <h2>{{noticia.title}}</h2>
              <br />
            </div>
          </a>
          {%endfor%}
        </section>
      </section>
    </div>
  </body>
</html>
