{% extends 'timeline/base.html' %} {%load static%} {% load humanize %} 

        {% block conteudo %}
        <h3 class="conteudo-titulo">Página inicial</h3>
        <!-- FORMULÁRIO -->
        <div class="caixa-tuite">
          <a href="{% url 'perfil' request.user.username %}">  <img
            class="tuiteimagem-perfil"
            src="{{ request.user.profile.avatar.url }}"
            alt="Imagem"
          /></a>
        
          <form class="conteudo-formulario" method="post">
            {% csrf_token %} {{ form.content }}
            <p class="borda-caixatt"></p>
            <button class="tuite" type="submit">Tweetar</button>
            <p class="borda-tuitar"></p>
            {% if messages %} {% for message in messages %}
            <p
              class="messages"
              style="color: red; position: absolute; top: 23%; left: 37%"
            >
              {{message}}
            </p>
            {% endfor %} {% endif %}
          </form>
        </div>

        <!-- FEED -->
        <section class="conteudo-feed">
          <!-- LISTA para os tweets -->
          <ul class="conteudo-listatuites">
            {%for tweet in tweets%}
            <!-- Tweet indivual -->
            <li class="conteudo-tuite">
              <!-- foto perfil -->
              <div class="img-time">
                <img src="{{ tweet.user.avatar.url }}" alt="Imagem" />
                <!--USUÁRIO -->
                <a href="{% url 'perfil' tweet.user %}"
                  ><h2>{{tweet.user}}</h2>
                </a>
                <span class="nickname">@{{tweet.user.nickname}}</span>
                <span> {{tweet.created_on | naturaltime}}</span>
              </div>
              <div class="texto-tuite">{{tweet.content}}</div>
              {% if tweet.retweets_the_id %}
              <div class="retuite">
                <img
                  src="{{tweet.retweets_the.user.avatar.url}}"
                  alt="{{tweet.retweets_the.user.user.username}}"
                />
                <div>
                  <a href="{% url 'perfil' tweet.retweets_the.user.user.username %}">{{tweet.retweets_the.user.user.username}}</a>
                  <span class="nickname-retuite">@{{tweet.user.nickname}}</span>
                  <span> {{tweet.created_on | naturaltime}}</span>
                </div>
              </div>
              <div class="texto-retuite">
                <p>{{tweet.retweets_the.content}}</p>
              </div>
              {% endif %}
              <div class="interacao">
                <figure>
                  <a href="{%url 'postagem' tweet.id %}"
                    ><img
                      style="width: 20px"
                      src="{%static 'chat.png'%}"
                      alt=""
                  /></a>
                  <div class="contador">{{tweet.reply.count}}</div>
                </figure>
                <figure>
                  <a href="{% url 'retweet' tweet.id %}"
                    ><img
                      style="width: 20px"
                      class="logo-int"
                      src="{%static 'retweet.png'%}"
                      alt=""
                  /></a>
                  <div class="contador">{{tweet.retweet.count}}</div>
                </figure>
                <figure>
                  <button
                  class="{% if tweet in likes_count %}like{% endif %}"
                  type="submit"
                  onclick="like({{ tweet.id }})"
                  id="like_{{ tweet.id }}"
                  >
                    <i class="fa-solid fa-heart"></i>
                  </button>
                  <div id="likes_count_{{tweet.id}}" class="contador">{{tweet.like.count}}</div>
                </figure>
              </div>
            </li>
            {%endfor%}
          </ul>
        </section>
      </main>
      {% endblock conteudo %}
      {% block js %}
      {{ block.super }}
      <script>
        function like(idTweet){
          fetch("/like/" + idTweet)
            .then((response)=> response.json())
            .then((resposta)=>{
              if(resposta.like){
                document.getElementById(`like_${idTweet}`).classList.add("like")
              } else {
                document.getElementById(`like_${idTweet}`).classList.remove("like")
              }
              document.getElementById(`likes_count_${idTweet}`).innerHTML = resposta.likes_count
            })
            .catch((error) =>{
              console.log(error)
            })
        }
      </script>
      {% endblock js %}