{% extends 'timeline/base.html' %} {%load static%} {% load humanize %}

      <!-- ---- caixa de retuite ---- -->
      {% block conteudo %}
      <div class="caixa-retuite">
        <div class="retuite">
          <form action="" method="post">
            {% csrf_token %}{{ form.content }}
            <button class="retuitar" type="submit">Retweetar</button>
          </form>
        </div>
        <div class="tuite-original">
          <img
            src="{{ref_tweet.user.avatar.url}}"
            alt="{{ref_tweet.user.user}} avatar"
          />
          <a href="">{{ref_tweet.user.user}}</a>
          <span class="nickname-retuite">@{{ref_tweet.user.nickname}}</span>
          <span>{{ref_tweet.created_on | naturaltime}}</span>
        </div>
        <div class="texto-retuite"><p>{{ref_tweet.content}}</p></div>
      </div>
      {% endblock conteudo %}
     